<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="sans">
    <header>
      <nav class="topbar">
        <div class="right-aligned-links">
          <a href="/" class="no-tufte-underline brand-link">{{ site.title }}</a>
          {% for item in navigation %}
            {% if item.url != "/" %}
              <a href="{{ item.url }}" class="no-tufte-underline">{{ item.title | lower }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </header>

    <article>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </article>
    <footer>
      {% include "footer.njk" %}
    </footer>
  </body>
</html>
